<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="icon" href="assets/img/icone.png">
    </head>
    <body>

        <nav class="navbar navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand" href="/">EvilBourg</a>
            <ul class="nav">

                {% if admin == constant('App\\Service\\UserRankService::ADMIN_RANK') %}<li><a class="nav-item nav-link" href="{{ urlFor('confidential')|e('html_attr') }}">Confidentiel</a></li> {% endif %}
                {% if admin == constant('App\\Service\\UserRankService::USER_RANK') or admin == constant('App\\Service\\UserRankService::ADMIN_RANK') %}<li><a class="nav-item nav-link" href="{{ urlFor('contribution')|e('html_attr') }}">Contribution</a></li> {% endif %}
                {% if admin == constant('App\\Service\\UserRankService::USER_RANK') or admin == constant('App\\Service\\UserRankService::ADMIN_RANK') %}<li><a class="nav-item nav-link" href="{{ urlFor('traitorList')|e('html_attr') }}">Liste hérétiques</a></li> {% endif %}
                {% if admin == constant('App\\Service\\UserRankService::USER_RANK') or admin == constant('App\\Service\\UserRankService::ADMIN_RANK') %}<li><a class="nav-item nav-link" href="{{ urlFor('deconnexion')|e('html_attr') }}">Deconnexion</a></li>
                {% else %}<li><a class="nav-item nav-link" href="{{ urlFor('connexion')|e('html_attr') }}">Connexion</a></li>{% endif %}
                <label class="nav-item nav-link">{{ admin }}</label>
            </ul>

        </nav>
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
    </body>
</html>