<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="icon" href="assets/img/icone.png">
</head>
<body>

<nav class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" href="/">Home</a>

</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
</body>
</html>