{% extends "layouts/main_error.twig" %}

{% block content %}
<div>
    <h1>Erreur</h1>

    <p>
        <a href="{{ urlFor('home')|e('html_attr') }}">Retourner à l'accueil</a>
    </p>
</div>
{% endblock %}