{% extends "layouts/main_error.twig" %}

{% block content %}
<div>
    <h1>Page inexistante</h1>

    <p>
        <a href="{{ urlFor('home')|e('html_attr') }}">Go to homepage</a>
    </p>
</div>
{% endblock %}