@charset "UTF-8";

img{
    width: 100%;
}

.traitor-list{
    display: flex;
    flex-direction: column;
}

.traitor-elem{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.traitor-elem img {
    width: 50%;
}

.contribution-note {
    font-size: 0.1em;
    color: #f6f6f6;
}