{% extends "layouts/main.twig" %}

{% block content %}
    <h1>Connexion</h1>

    <p>Connectez-vous en utilisant ce formulaire, toute tentative non autorisée sera punie! Le dernier à avoir pénetré cette application a été exécuté avant-hier!</p>

    <form method="post">
        <div class="form-group">
            <label for="login">Login</label>
            <input class="form-control" id="login" aria-describedby="login" placeholder="Login" name="login">
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" aria-describedby="password" placeholder="Mot de passe" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Connexion</button>
    </form>

{% endblock %}