{% extends "layouts/main.twig" %}

{% block content %}
    <h1>Liste des fichiers confidentiels</h1>

    <p>Cette partie n'est plus un secret pour vous, vous êtes maintenant au même point que Kantino ! </p>
    <p>Deuxième flag : {{ deuxiemeFlag }}</p>

    <h2>Notes du dernier Hacker</h2>
    <p class="contribution-note">Cette demande a été faite par notre chef suprême, nous ne sommes pas responsables des effets collatéraux de cette décision!</p>

    <p>{{ notesHacker }}</p>

    <h2>fichiers confidentiels</h2>
    <p>Ici sont listés les fichiers confidentiels présents sur ce serveur, connectez-vous au serveur pour les consulter</p>

    <p class="contribution-note">Cette demande a également été faite par notre chef suprême, si quelqu'un voit ceci aidez nous, il est bien trop stupide pour gouverner le monde!</p>

    <code>
        {{ systemCall.call }}
    </code>

{% endblock %}