{% extends "layouts/main.twig" %}

{% block content %}
<h1>Contribution</h1>

    <p>Vous pouvez contribuer au site d'Evilbourg en vous connectant au lien suivant : <a href="{{ gitlabLink }}">{{ gitlabLink }}</a> </p>

    <p class="contribution-note">(Tout employé ne contribuant pas suffisament sera considéré comme hérétique)</p>


{% endblock %}