{% extends "layouts/main.twig" %}

{% block content %}


    <h1>Site de la prison EvilBourg</h1>

    <p>Les hérétiques envers le gouvernement sont envoyés dans cette prison, seuls les employés abilités sont autorisés à accéder à ce site</p>
    
    <img src="assets/img/prison.jpg">
{% endblock %}