{% extends "layouts/main.twig" %}

{% block content %}
    <h1>Liste des hérétiques</h1>


    <div class="container traitor-list">

        <div class="traitor-elem">
            <h2>Kantino</h2>
            <img src="assets/img/kantino.jpg">
            <p>Un hacker repéré proche de l'enceinte de la prison, il a réussi à se faufiler dans notre réseau, heureusement le directeur d'Evilbourg a réussi à récupérer les informations qu'il devait envoyer à son équipe de CTF... Nous avons eu beaucoup de chance, il semblerait qu'il ait été très proche de compromettre ce serveur et de découvrir le dossier contenant nos photos personnelles. Pour punir cet acte effronté, kantino a été torturé pendant une semaine puis exécuté!</p>

        </div>

        <div class="traitor-elem">
            <h2>Canard mandarin</h2>
            <img src="assets/img/canard-mandarin.jpg">
            <p>Un canard retrouvé dans l'enceinte de la prison, humain ou pas, nous sommes tous égaux face à la justice d'Evilbourg! Il a fini en magret dans l'heure qui a suivi sa visite.</p>

        </div>


    </div>


{% endblock %}